header {
  padding: 0px 200px 0px 200px;
  display: flex;
  align-items: center;
  background-color: #191919;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  max-block-size: 50px;
}

.headerButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0px 50px 0px 50px;
  width: 1920px;
}

.headerButtons:hover .headerButton {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.headerButtons .headerButton:hover {
  opacity: 1;
}

.headerButton,
.headerSearch {
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #191919;
}

.headerButton {
  height: 100px;
  border: none;
  transition: opacity 0.3s ease;
}

.headerButton:hover {
  text-decoration: underline;
  text-decoration-color: #a78b55;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.cart__wrapper {
  position: relative;
}

.cart {
  background: url("../imgs/cart.png");
  background-size: 100% 100%;
  min-width: 50px;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
}

.closeCart {
  padding: 0;
  border: none;
  height: 20px;
}

.inCart {
  display: none;
}

.inCart.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 77px;
  left: -90px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #717171;
  background-color: white;
}

.inCart ul {
  margin: 0;
  padding: 0;
}

.inCart li {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  padding: 0px 15px 0px 15px;
}

.cartElImg {
  max-block-size: 60px;
}

.inCart p {
  font-weight: bold;
}

.numElInCart {
  position: absolute;
  left: 40px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 1px 5px 1px 5px;
  border-radius: 9999px;
}

.deleteCartElementBtn {
  border: none;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
}

.cart,
input[type="submit"],
input[type="reset"] {
  border: none;
  padding: 0;
}

.headerSearch {
  height: 50px;
  width: 170px;
  border: 1px solid;
  padding: 5px;
  transition: border-color 0.3s ease;
  margin-right: 50px;
}

.headerSearch:hover {
  border-color: #a78b55;
  transition: border-color 0.3s ease;
}

#search-field {
  background-color: #191919;
  font-size: 16px;
  font-weight: bold;
  color: white;
  height: 50px;
  width: 170px;
  border: 1px solid white;
  padding: 5px;
  outline-width: 0;
}