.header {
  padding: 0px 200px 0px 200px;
  display: flex;
  align-items: center;
  background-color: #191919;
}

.logo {
  max-block-size: 50px;
}

.headerButtons {
  display: flex;
  gap: 50px;
  margin-left: 50px;
  width: 1920px;
}

.headerButton,
.headerSearch {
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #191919;
}

.headerButton {
  height: 100px;
  border: none;
}

a {
  all: unset;
}

.headerButton:hover {
  text-decoration: underline;
  text-decoration-color: #a78b55;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.headerSearch {
  height: 50px;
  width: 170px;
  border: 1px solid;
  padding: 5px;
}

.headerSearch:hover {
  border: 2px solid;
}